@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root {
  --fontFamily: "Roboto", sans-serif;
  --darkBlue: #195db4;
  --lightBlue: #41a3f4;
  --white: #ffffff;
  --fontSize: 16px;
  --transition: .3s ease;
  --text: #444444;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    line-height: 1.6;
    color: var(--text);
    font-weight: 300;
}
.container {
    max-width: 920px;
    margin: auto;
    padding: 30px 60px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    transition: var(--transition);
}
hr {
    display: block;
    content: "";
    height: 1px;
    width: 95%;
    background-color: lightgray;
    margin: 20px auto;
    border: none;
}
/************************
header
************************/
header {
    height: 60vh;
    background: linear-gradient(140deg, var(--darkBlue), var(--lightBlue));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 10px;
    align-items: center;
}
header .logo {
    height: 42px;
    margin-top: 5px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    margin-left: 10px;
    padding: 4px 15px;
}
nav ul li:hover {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 3px;
}
nav ul li:first-child:hover {
    background-color: transparent;
}
/* nav .links li:not(:first-child):hover {
    background-color: var(--lightBlue);
    border-radius: 5px;
} */
nav ul li:first-child {
    margin-left: 0;
}
nav ul li a {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 300;
}
nav div {
    display: flex;
    align-items: center;
}
nav div input {
    margin-left: 15px;
    padding: 7px;
    border-radius: 20px;
    border: none;
    color: #aaa;
    width: 170px;
}
nav div a {
    margin-left: 15px;
    color: var(--white);
    font-size: 1.4rem;
}
header article {
    display: flex;
    align-items: center;
}
header article div {
    flex: 1;
}
/************************
sections
************************/
section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section img {
    width: 100%;
}
section article:first-child {
    flex: 0 0 40%;
}
section article:last-child {
    flex: 0 0 55%;
}
section h2 {
    color: var(--lightBlue);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3rem;
}
section p {
    line-height: 2;
}
section:nth-child(even) article:first-child {
    order: 2;
}
/* ovo gore radi kad se hr izbrise iz html-a*/

